@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@theme {
  --font-audiowide: 'Audiowide', cursive;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for the main browser window only */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}