@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Audiowide';
  src: url('./fonts/Audiowide.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cursive';
  src: url('./fonts/CedarvilleCursive.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-audiowide: 'Audiowide', sans-serif;
  --font-cursive: 'Cursive', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for the main browser window only */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}